$mobile-break: 767px;

.mis-gifos {    
    margin-top: 16px;
    margin-bottom: 30px;
    .titulo {
        padding: 7px;
    }
    .mensaje {
        padding: 75px 21.9% 75px 18.4%;
        .container {
            h2 {
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                line-height: 22px;
                margin-top: 8px;
            }
            .gradient {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                p {
                    color: #FFF;
                    padding: 3.4px 7px 2.6px;
                    width: 100%;
                }
                img {
                    margin-right: 10px;
                }
            }
            .cuerpo {
                padding: 8px 11px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            .informacion {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                .icono {
                    width: 32px;
                    height: 29px;
                    margin-top: 30px;
                    margin-left: 25px;
                }
                .texto {
                    margin: 30px 16px 28px 16px;                
                    h2 {
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 22px;
                        font-weight: 900;
                        margin-bottom: 17px;
                    }
                    ol {
                        list-style: none;
                        li {
                            margin: 11px 0;
                            counter-increment: item;
                            &::before {
                                content: counter(item) ") ";
                                font-weight: 900;
                            }                        
                        }
                    }
                    strong {
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .resultado-mis-gifos {
        margin-top: 16px;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: dense;
        .item {
            position: relative;
            width: 100%;
            height: auto;
            padding:2px;
            &.doble {
                grid-column: span 2; 
            }
            .container {
                padding: 0;
                border: 1px solid transparent; 
            }
            img {
                height: 298px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $mobile-break) {
    .mis-gifos {
        .resultado-mis-gifos {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0 0 16px 0;
            .item {
                &.doble {
                    grid-column: unset;
                }
            }
        }
    }
}